  <div class="jumbotron text-center">
    <h1 class="display-3">Sign In</h1>
    <p class="lead">If you know the password go and sign in to access the secret content!</p>
    <p><%= link_to 'Sign in', new_user_session_path, class: 'btn btn-lg btn-success' %></p>
  </div>
